# dependências
node_modules/
app/node_modules/

# build
dist/
app/dist/

# logs e temporários
*.log
saida/*.txt

# sistema
.DS_Store

# backend
backend/.venv/
backend/rota.db
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/.pytest_cache/

# frontend
app/.env
